<html>
    <head>

        <script src="http://code.jquery.com/jquery-1.11.3.min.js"
        ></script>
        <title>

            Adrien

        </title>
        <link rel="stylesheet"
        type="text/css"
        href="bootstrap.css">
        <link rel="stylesheet"
        type="text/css"
        href="border_style.css">
    </head>


    <body>

        <div class="container">
            <h1 id="Main"
                onclick="alert('hello');" >
                Game
            </h1>
        </div>

        <div class="container">
            <h2 id="title"
                onclick="$('#Main').html('Bitch');" >
                Hello
            </h2>
        </div>

        <div class="p-3 mb-2 bg-success text-white">
            
            <button 
            type="button" 
            class="btn btn-dark"
            onclick="alert('do something');createGame()"
            >Create Game</button>

        </div>

        <div class="row">

            <div class="col-md-6 thin_border">
                Player 1 
            </div>
            <div class="col-md-6 thin_border">
                Player 2
            </div>
            <div class="col-md-2 thin_border">
                Player 4
            </div>
        </div>
        <ul>
            <li>Tv Inglesinhas</li>
        </ul>


        <div class="p-3 mb-2 bg-success text-white">


            <h3 id="testJS"
                onclick="say1();">
                Hello

            </h3>
        </div>

        <script type="text/javascript" charset="utf-8">
            function say1(){
                $("#testJS").html("goodbye");
                $("#testJS").click(function(){
                    $("#testJS").html("Hello");
                    $("#testJS").off("click");
                });
            };

            // createGame onclick - emit a message on the 'create' channel to 
            // create a new game with default parameters
            function createGame() {
              console.log('Creating game...');
            }
        
        </script>
<body>

<html>
